@use '../variables.scss' as *;

.dividends{
    overflow: auto;
    @media (max-width: $mobileL) {
        table{
            width: 100%;
        }
        tbody{
            display: flex;
            tr{
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
        }
    }
    tbody{
        th,
        td{
            border: 1px solid $black;
        }
        th,
        td{
            text-align: center;
            padding: 0.5em;
        }
    }
}