@use '../variables' as *;


.stocks-list__search{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-block-end: 2rem;
    .filters{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        &__button{
            padding: 0.75em;
            border-radius: 0.625rem;
            background-color: black;
            color: $white;
            transition: $defTransition;
            &:hover{
                background-color: $white;
                color: black;
                border: 1px solid black;
                box-shadow: 0 2px 2px 0 $gray-600;
            }
        }
        .filter{
            display: flex;
            flex-direction: column;
            background-color: $lime;
            & > *{
                border: 1px solid black;
                padding: 0.25em;
            }
            select{
                min-width: 5rem;
                background-color: inherit;
                option.selected{
                    background-color: $black;
                    color: $lime;
                }
            }
        }
    }
    .search-bar{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        &__label{
            font-size: 1rem;
            line-height: 1.15;
        }
    }
    input{
        border: 1px solid black;
        border-radius: 0.625rem;
        padding: 1em;
        transition: all 0.4s ease 0s;
        &:hover{
            background-color: #bcb6b6;
            box-shadow: 0 0 3px 3px #bcb6b6;
            color: white;
            border-color: white;
            &::placeholder{
                color: white;
            }
        }
    }
}
.stocks-grid{
    display: grid;
    container-name: stockCard;
    container-type: inline-size;
    gap: 1.875rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    @container stockCard (500px < width < 670px){
        .card{
            display: grid;
            grid-template-areas: "heading button"
                        "subheading button"
                        "price button"
                        "description heart"
                        "description heart";
            &__title{
                text-align: center;
                grid-area: heading;
            }
            &__subtitle{
                grid-area: subheading;
                text-align: center;
            }
            &__price{
                text-align: center;
                grid-area: price;
            }
            &__description{
                grid-area: description;
            }
            &__button{
                grid-area: button;
                text-align: center;
            }
            &__heart{
                width: 100%;
                height: 50px;
                grid-area: heart;
            }
        }
    }
}
.stock-card{
    align-items: center;
    row-gap: 12px;
    padding: 1em;
    span{
        font-style: italic;
    }
    &__title{
        margin-block-end: 0.5em;
        font-style: normal;
    }
    &__price-change{
        &.positive{
            color: $green;
        }
        &.negative{
            color: $red;
        }
    }
    &__heart{
        width: 50px;
            img{
                width: 100%;
                height: 100%;
            }
    }
}
.navigation__link a.active{
    background-color: $lime;
    font-weight: $medium;
}
.stock-details{
    &--add-page{
        align-self: start;
        gap: 3rem;
        .h3{
            text-align: center;
        }
    }
    .fundamentals__link{
        i,
        span{
            font-weight: $medium;
        }
        i.sell{
            color: red;
        }
        i.consider-selling{
            color: rgb(183, 121, 6);
        }
        i.hold{
            color: rgb(32, 164, 3);
        }
        i.consider-buying{
            color: green;
        }
        i.buy{
            color: darkgreen;;
        }
    }
}