/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Space+Grotesk:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:300,regular,500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 20em;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Space Grotesk";
  font-size: 1.125rem;
  font-weight: 300;
}
@media (min-width: 48em) {
  body {
    font-size: 1.25rem;
  }
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon.eot?57pre8");
  src: url("../assets/fonts/icomoon.eot?57pre8#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon.ttf?57pre8") format("truetype"), url("../assets/fonts/icomoon.woff?57pre8") format("woff"), url("../assets/fonts/icomoon.svg?57pre8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e90b";
  color: #fff;
}

.icon-arrows-left-right:before {
  content: "\e900";
}

.icon-Frame:before {
  content: "\e901";
}

.icon-round-icons-tlcn40YqSp4-unsplash-1:before {
  content: "\e902";
}

.icon-round-icons-tlcn40YqSp4-unsplash-1-1:before {
  content: "\e903";
}

.icon-round-icons-tlcn40YqSp4-unsplash-1-2:before {
  content: "\e904";
}

.icon-Vector:before {
  content: "\e905";
}

.icon-Social-icon .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}

.icon-Social-icon .path2:before {
  content: "\e907";
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}

.icon-Social-icon .path3:before {
  content: "\e908";
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}

.icon-Social-icon .path4:before {
  content: "\e909";
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}

.icon-Social-icon-1:before {
  content: "\e90a";
  color: #fff;
}

.icon-Social-icon-2 .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}

.icon-Social-icon-2 .path2:before {
  content: "\e929";
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}

.icon-settings-2:before {
  content: "\e90d";
}

.icon-search-1:before {
  content: "\e90e";
}

.icon-watchlist:before {
  content: "\e90f";
}

.icon-market-search:before {
  content: "\e910";
}

.icon-user-profile .path1:before {
  content: "\e911";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}

.icon-user-profile .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(185, 255, 102);
}

.icon-user-profile .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}

.icon-user-profile .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}

.icon-user-profile .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-user-profile .path6:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-user-profile .path7:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.2;
}

.icon-calendar:before {
  content: "\e918";
}

.icon-Image-2:before {
  content: "\e919";
}

.icon-pencil-gear:before {
  content: "\e91a";
}

.icon-moon:before {
  content: "\e91b";
}

.icon-sun:before {
  content: "\e91c";
}

.icon-polygon:before {
  content: "\e91d";
}

.icon-cards-market-search:before {
  content: "\e91e";
}

.icon-list-market-search:before {
  content: "\e91f";
}

.icon-dropdown-user-profile:before {
  content: "\e920";
}

.icon-vector:before {
  content: "\e921";
  color: #fff;
}

.icon-arrow-left:before {
  content: "\e922";
  color: #fff;
}

.icon-arrow-right::before {
  content: "\e922";
  color: white;
  transform: rotate(180deg);
}

.icon-logo .path1:before {
  content: "\e923";
  color: rgb(255, 255, 255);
}

.icon-logo .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(11, 13, 23);
}

.icon-icon-facebook:before {
  content: "\e924";
  color: #fff;
}

.icon-icon-instagram:before {
  content: "\e925";
  color: #fff;
}

.icon-icon-pinterest:before {
  content: "\e926";
  color: #fff;
}

.icon-icon-youtube:before {
  content: "\e927";
  color: #fff;
}

.icon-icon-twitter:before {
  content: "\e928";
  color: #fff;
}

.icon-search:before {
  content: "\e986";
}

main.page {
  flex-grow: 1;
  margin-block-start: 12.5rem;
}
@media (max-width: 26.5625em) {
  main.page {
    margin-block-end: 4rem;
  }
}
main.page .page__container > section {
  margin-block-end: 5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  padding-inline: 0.9375rem;
}

[class*=__container] {
  max-width: 77.9375rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

.navigation {
  margin-block-end: 2.5rem;
}
.navigation__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
@media (max-width: 48em) {
  .navigation__menu {
    justify-content: center;
  }
}
.navigation__menu .navigation__link {
  padding: 1rem;
}
.navigation__menu .navigation__link a {
  border-radius: 0.75rem;
  padding: inherit;
}
.navigation__menu .navigation__link a.active {
  border: 1px solid hsl(0, 0%, 0%);
  font-weight: 500;
  text-decoration: underline;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  border: 1px solid #000000;
  padding: 1.5rem 1.375rem 3.0625rem;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
@media (max-width: 48em) {
  .card {
    align-items: center;
  }
  .card p {
    text-align: center;
  }
}
.card.active {
  animation-play-state: running;
  animation-duration: 0.5s;
  animation-name: card-jump;
}
.card__image {
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 45px;
  padding: 10px;
}
.card__image.white {
  background-color: hsl(0, 0%, 0%);
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__title {
  font-size: 1.125rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .card__title {
    font-size: 1.25rem;
    text-align: center;
  }
}
.card__subtitle {
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .card__subtitle {
    font-size: 1.125rem;
    text-align: center;
  }
}
.card__price {
  font-size: 1.625rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .card__price {
    font-size: 1.875rem;
    text-align: center;
  }
}
.card__change {
  color: #F51818;
  font-size: 1rem;
  font-weight: 700;
}
.card__change.green {
  color: #0BA13B;
}
@media (min-width: 64rem) {
  .card__change {
    font-size: 1.125rem;
    text-align: center;
  }
}

.coin__second-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #000000;
  border-radius: inherit;
  aspect-ratio: inherit;
  padding: inherit; /* 0.13333333/0.5 */
}

.button {
  border: 1px solid #000000;
  border-radius: 14px;
  background-color: #B9FF66;
  padding: 20px 35px;
  transition-duration: 0.4s;
  transition-property: all;
}
.button.active {
  display: none;
}
.button:hover {
  color: #B9FF66;
  text-decoration: underline;
  background-color: black;
  border-color: #B9FF66;
  box-shadow: 0 0 3px 3px #B9FF66;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
  background-color: transparent;
  background-color: hsl(0, 0%, 100%);
  padding-inline: 0.9375rem;
  padding-block: 1.5rem;
}
.header.scrolled .header__container {
  animation: scale-down 0.6s;
  animation-fill-mode: both;
}
@keyframes scale-down {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@media (min-width: 64rem) and (max-width: 48em) {
  .header {
    padding-left: calc(15px + 132.6 * (100vw - 320px) / 1440);
  }
}
@media (min-width: 64rem) and (min-width: 48em) {
  .header {
    padding-left: calc(15px + 78 * 100vw / 1440);
  }
}
@media (min-width: 64rem) and (max-width: 48em) {
  .header {
    padding-right: calc(15px + 144.5 * (100vw - 320px) / 1440);
  }
}
@media (min-width: 64rem) and (min-width: 48em) {
  .header {
    padding-right: calc(15px + 85 * 100vw / 1440);
  }
}
.header__container {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  animation: scale-up 0.6s;
  animation-fill-mode: both;
}
@keyframes scale-up {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 26.5625em) {
  .header__container {
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (64rem <= width < 67.6875rem) {
  .header {
    justify-content: center;
    row-gap: 1rem;
  }
}
@media (min-width: 67.6875em) {
  .header {
    padding-block-start: 3.75rem;
    padding-block-end: 2rem;
  }
}
.header:has(.header__burger.active) {
  padding-inline: 0;
  padding-block-start: 0;
}
.header:has(.header__burger.active) .header__logo {
  margin-block-start: 1.5rem;
  border-radius: 1.5625rem;
  padding: 0.3125rem;
  background-color: hsl(0, 0%, 100%);
}
.header__burger {
  position: relative;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  z-index: 101;
}
@media (min-width: 64rem) {
  .header__burger {
    display: none;
    visibility: hidden;
  }
}
.header__burger::before, .header__burger::after, .header__burger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: hsl(0, 0%, 0%);
  border-radius: 15px;
  transition: all 0.4s ease 0s;
}
.header__burger::before, .header__burger::after {
  content: "";
  transform-origin: center;
}
.header__burger::before {
  inset-block-start: 0;
}
.header__burger::after {
  inset-block-end: 0;
}
.header__burger span {
  visibility: visible;
  opacity: 1;
  inset-block-start: 45%;
}
.header__burger.active span {
  visibility: hidden;
  opacity: 0;
  background-color: hsl(0, 0%, 0%);
}
.header__burger.active::before {
  transform: rotate(45deg);
  background-color: hsl(0, 0%, 0%);
}
.header__burger.active::after {
  inset-block-start: 0;
  transform: rotate(-45deg);
  background-color: hsl(0, 0%, 0%);
}
.header__navigation {
  transition-property: background-color;
  transition-duration: 0.5s;
}
.header__navigation:has(.header__burger.active) {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  position: absolute;
  z-index: 100;
  inset-inline-end: 0;
  inset-block-start: 0;
  max-width: 600px;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 0%);
  padding: 32px 37px;
}
.header__navigation:has(.header__burger.active) .header__burger {
  align-self: flex-end;
}
.header__navigation:has(.header__burger.active) .header__menu {
  display: flex;
  opacity: 1;
  flex-direction: column;
}
.header__navigation:has(.header__burger.active) .header__footer {
  display: block;
}
.header__menu {
  opacity: 0;
  display: none;
  align-items: center;
  gap: 2.5rem;
  transition-property: opacity, display;
  transition-duration: 0.5s, 0.5s;
}
@media (min-width: 64rem) {
  .header__menu {
    display: flex;
    opacity: 1;
  }
}
.header__link {
  cursor: pointer;
}
.header__link:not(.button) a.active {
  font-weight: 500;
  background-color: #B9FF66;
}
.header__link a {
  font-size: 1.25rem;
  border-radius: 7px;
  padding: 7px;
}
.header__link a:hover {
  text-decoration: underline;
}
.header__link a.button {
  border: 1px solid #000000;
  border-radius: 14px;
  padding: 20px 35px;
}
.header__link a.button.active {
  display: none;
}
.header__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #B9FF66;
  border: 1px solid #000000;
}
.header__footer {
  display: none;
  font-size: 1.25rem;
}

.heading {
  display: flex;
  column-gap: 2.5rem;
  row-gap: 0.9375rem;
  align-items: center;
  flex-wrap: wrap;
  margin-block-end: 2.75rem;
}
@media (max-width: 48em) {
  .heading {
    justify-content: center;
  }
}
.heading__title {
  font-size: 2.25rem;
  font-weight: 500;
  padding: 0.05em;
  background-color: #B9FF66;
  margin-block-end: 0;
  color: #000000;
}
@media (min-width: 64rem) {
  .heading__title {
    font-size: 2.5rem;
    text-align: center;
  }
}
.heading__title-uppercased {
  text-transform: uppercase;
}
.heading__subtitle {
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .heading__subtitle {
    font-size: 1.125rem;
    text-align: left;
  }
}

.footer {
  color: hsl(0, 0%, 100%);
}
.footer__container {
  container: footer/inline-size;
  border-start-start-radius: 45px;
  border-start-end-radius: 45px;
  background-color: #191A23;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-inline: 3.75rem;
  padding-block-start: 3.4375rem;
  padding-block-end: 3.125rem;
}
.footer__container > * {
  flex-wrap: wrap;
}
.footer__container .footer__top {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.75rem;
}
@media (min-width: 26.5625em) {
  .footer__container .footer__top {
    justify-content: space-between;
    flex-direction: row;
  }
}
.footer__container .footer__bottom {
  font-style: italic;
  align-self: center;
}
.footer__container .footer-section {
  display: flex;
  flex-direction: column;
}
.footer__container .footer-section h4 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.1;
  font-style: italic;
}
@media (min-width: 64rem) {
  .footer__container .footer-section h4 {
    font-size: 1.25rem;
    text-align: left;
  }
}
.footer__container .footer-section ul li {
  line-height: 1.4;
}
.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 4.125rem;
  gap: 2.5rem;
}
.footer__links li {
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
.footer__links li i *::before:hover {
  color: #B9FF66;
}
.footer__pages {
  display: flex;
  gap: 2.5rem;
}
.footer__link {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
  transition: all 0.3s ease 0s;
  text-align: center;
}
@media (min-width: 64rem) {
  .footer__link {
    font-size: 1.125rem;
    text-align: unset;
  }
}
.footer__link:hover {
  color: #B9FF66;
  text-decoration: none;
}
.footer__link.selected:not(.header__link.button) {
  color: #B9FF66;
}
.footer__social-icons {
  display: flex;
  gap: 1.25rem;
}
.footer__social-icon {
  font-size: 1.65rem;
  transition: all 0.4s ease 0s;
}
.footer__social-icon::before, .footer__social-icon span::before {
  transition: all 0.4s ease 0s;
}
.footer__social-icon.icon:hover::before, .footer__social-icon.icon:hover span[class*=path]:first-child:before {
  color: #B9FF66;
}
.footer__social-icon_x {
  display: flex;
}
.footer__social-icon_linked-in {
  display: flex;
}
.footer__contact {
  display: flex;
  justify-content: center;
  margin-block-end: 6.25rem;
  gap: 2.5rem;
}
.footer__contact-us {
  display: inline-flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-basis: auto;
}
.footer__heading {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 7px;
  padding-inline: 0.35em; /* 7/20 */
  margin-block-end: 1.45em; /* 29/20 */
}
@media (min-width: 64rem) {
  .footer__heading {
    font-size: 1.25rem;
    text-align: left;
  }
}
.footer__contact-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.footer__subscribtion-form {
  background-color: #292A32;
  padding: 10px 14.5px;
  border-radius: 14px;
  flex-shrink: 1;
}
@media (min-width: 48em) {
  .footer__subscribtion-form {
    flex-basis: 56.255546%; /* 634/1127 */
    padding: 40px 58px;
  }
}
.footer__copyright {
  position: relative;
  text-align: center;
}
.footer__copyright a {
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}
.footer__copyright a:hover {
  text-decoration: none;
  color: #B9FF66;
}
.footer__copyright::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: -50px;
  background-color: hsl(0, 0%, 100%);
}

.subscribtion-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  flex-wrap: wrap;
}
.subscribtion-form__input {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 14px;
}
.subscribtion-form__input input {
  font-size: 1.125rem;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  padding-block: 1.375rem;
  border-radius: inherit;
  background-color: transparent;
}
@media (min-width: 64rem) {
  .subscribtion-form__input input {
    font-size: 1.25rem;
    text-align: center;
  }
}
@media (min-width: 48em) {
  .subscribtion-form__input input {
    text-align-last: left;
    padding-inline-start: 2.1875rem;
  }
}
.subscribtion-form__subscribe {
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 1.25rem 2.1875rem;
  background-color: #B9FF66;
  color: hsl(0, 0%, 0%);
  border-radius: 14px;
}
@media (min-width: 64rem) {
  .subscribtion-form__subscribe {
    font-size: 1.25rem;
    text-align: center;
  }
}

@media (max-width: 26.5625em) {
  .not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .not-found p {
    text-align: center;
  }
}

.cross {
  position: relative;
}
.cross::before, .cross::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  transform-origin: center;
  background-color: hsl(0, 0%, 0%);
}
.cross::before {
  transform: rotate(45deg);
  inset-block-start: 0;
}
.cross::after {
  inset-block-end: 0;
  transform: rotate(-45deg);
}

.h1 {
  font-size: 2.6875rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .h1 {
    font-size: 3.75rem;
    text-align: left;
  }
}

.h2 {
  font-size: 2.25rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .h2 {
    font-size: 2.5rem;
    text-align: left;
  }
}

.h3 {
  font-size: 1.625rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .h3 {
    font-size: 1.875rem;
    text-align: left;
  }
}

.h4 {
  font-size: 1.125rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .h4 {
    font-size: 1.25rem;
    text-align: left;
  }
}

.p {
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .p {
    font-size: 1.125rem;
    text-align: left;
  }
}

.app-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 4.5rem;
}
.app-heading__title {
  font-size: 2.6875rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .app-heading__title {
    font-size: 3.75rem;
    text-align: left;
  }
}
.app-heading__search-icon {
  width: 2.5rem;
  font-size: 2.5rem;
  aspect-ratio: 1/1.24;
  cursor: pointer;
  padding: 5px;
}

.search-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-preview__icon {
  font-size: 12.675625rem; /* 202.81/16 */
  color: #666666;
}
.search-preview__text {
  max-width: 37.5625rem;
  font-size: 2.25rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .search-preview__text {
    font-size: 2.5rem;
    text-align: center;
  }
}

.search-field {
  display: flex;
  align-items: center;
  padding: 0.625rem;
  border: 1px solid hsl(0, 0%, 0%);
  margin-block-end: 2.1875rem;
}
.search-field__icon {
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
.search-field__icon:hover {
  font-weight: 700;
}
.search-field__input {
  margin-inline-end: auto;
  padding: 9px;
  width: 100%;
  font-family: "Inter";
}
.search-field__input input {
  width: inherit;
  padding: inherit;
  font-weight: 500;
}
.search-field__buttons {
  display: flex;
  column-gap: 2.25rem;
  row-gap: 0.9375rem;
  position: relative;
}
.search-field__buttons::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 100%;
  background-color: hsl(0, 0%, 0%);
  border-radius: 10px;
}
.search-field__buttons > button {
  font-size: 1rem;
  font-weight: 500;
  width: 83px;
  height: 30px;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
@media (min-width: 64rem) {
  .search-field__buttons > button {
    font-size: 1.125rem;
    text-align: center;
  }
}
.search-field__buttons > button:hover {
  text-decoration: underline;
  box-shadow: 0 2px 1px hsl(0, 0%, 0%);
}
.search-field__buttons > button:focus {
  border: 1px solid hsl(0, 0%, 0%);
}
.search-field__search {
  background-color: #B9FF66;
}

.output .view-output {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  justify-content: space-between;
  margin-block-end: 1.375rem;
}
.output .view-output__label {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Inter";
  color: #003CFF;
}
@media (min-width: 64rem) {
  .output .view-output__label {
    font-size: 1.125rem;
    text-align: left;
  }
}
.output .view-output__switch {
  border-radius: 10px;
  font-size: 2.07875rem;
  cursor: pointer;
  padding: 9px;
  border: 1px solid #000000;
}
.output__results .stock-output {
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
.output__results .stock-output:hover {
  background-color: rgba(240, 240, 163, 0.313);
}
.output__results .stock-output__price-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.6875rem;
  font-weight: 700;
  color: hsl(0, 0%, 27%);
}
.output__results .stock-output__price-info:has(.down) {
  color: #F51818;
}
.output__results .stock-output__price-info:has(.down) .price-change__icon {
  transform: rotate(180deg);
}
.output__results .stock-output__price-info:has(.up) {
  color: #0BA13B;
}
.output__results .stock-output__price-info:has(.up) .price-change__icon {
  transform: rotate(0deg);
}
.output__results .stock-output__price-info .price-change__icon {
  display: none;
}
.output__results .stock-output__price-info:has(.down) .price-change__icon, .output__results .stock-output__price-info:has(.up) .price-change__icon {
  display: block;
}
.output__results .stock-output__image {
  border-radius: 5px;
}
.output__results .stock-output__name-info > *:hover {
  text-decoration: underline;
}
.output__results .stock-output__symbol {
  font-weight: bold;
}
.output__results .stock-output__comapny-name {
  font-weight: medium;
}
.output__results.inline {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.output__results.inline .stock-output {
  display: flex;
  align-items: center;
  border-block: 1px solid hsl(0, 0%, 0%);
  padding-block: 1.125rem;
}
.output__results.inline .stock-output:has(.down) .stock-output__price-indicator {
  background-color: #F51818;
}
.output__results.inline .stock-output:has(.up) .stock-output__price-indicator {
  background-color: #0BA13B;
}
.output__results.inline .stock-output__name-info {
  margin-inline-end: auto;
}
.output__results.inline .stock-output__image {
  width: 100px;
  height: 52px;
  margin-inline-end: 8rem;
}
.output__results.inline .stock-output__image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.output__results.inline .stock-output__price-change {
  display: flex;
  column-gap: 0.625rem;
}
.output__results.inline .stock-output__price-indicator {
  width: 13.75px;
  height: 32px;
  background-color: hsl(0, 0%, 27%);
  margin-inline-end: 3.5rem;
}
.output__results.inline .stock-output__price-info {
  align-items: flex-end;
}
.output__results.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14.75rem, 1fr));
  gap: 5.6875rem;
}
.output__results.grid .stock-output {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  text-align: center;
  gap: 10px;
  align-items: center;
  padding: 10px 18px;
  border: 1px solid hsl(0, 0%, 27%);
}
.output__results.grid .stock-output:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}
.output__results.grid .stock-output:has(.down) {
  border: 1px solid #F51818;
}
.output__results.grid .stock-output:has(.down) .price-change__icon {
  transform: rotate(180deg);
}
.output__results.grid .stock-output:has(.up) {
  border: 1px solid #0BA13B;
}
.output__results.grid .stock-output:has(.up) .price-change__icon {
  transform: rotate(0deg);
}
.output__results.grid .stock-output__image {
  width: 95px;
  height: 52px;
}
.output__results.grid .stock-output__image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.output__results.grid .stock-output__price-change {
  display: flex;
  column-gap: 0.625rem;
}
.output__results.grid .stock-output__price-info {
  align-items: center;
}

.results {
  display: grid;
  gap: 2.5rem;
}
@media (min-width: 48em) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64rem) {
  .results {
    grid-template-columns: repeat(3, 1fr);
  }
}

@keyframes move-logo {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-115%);
  }
}
@keyframes move-coin-left {
  0% {
    transform: translateX(-130%) rotate(-120deg);
  }
  100% {
    transform: translateX(0%) rotate(-30deg);
  }
}
@keyframes move-coin-right {
  0% {
    transform: translateX(130%) rotate(120deg);
  }
  100% {
    transform: translateX(0%) rotate(30deg);
  }
}
@keyframes card-jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wrapper:has(.header__burger.active),
.header:has(.header__burger.active) {
  background-color: rgba(0, 0, 0, 0.25);
}

.wrapper:has(.header__burger.active) {
  pointer-events: none;
}
.wrapper:has(.header__burger.active) > *:not(header) {
  z-index: -1;
}

.header:has(.header__burger.active) {
  pointer-events: all;
  background-color: unset;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 4.375rem;
}
@media (max-width: 1135px) {
  .hero__container {
    flex-direction: column;
    margin-block-start: 3rem;
  }
  .hero__container .hero__title {
    text-align: center;
  }
}
.hero .hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__body {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 0.9375rem;
}
@media (min-width: 90em) {
  .hero__body {
    align-items: flex-start;
  }
}
.hero__body span {
  color: #0BA13B;
  text-decoration: underline;
}
.hero__title {
  font-size: 2.6875rem;
  font-weight: 500;
  margin-block-end: 0.4em;
}
@media (min-width: 64rem) {
  .hero__title {
    font-size: 3.75rem;
    text-align: center;
  }
}
@media (min-width: 90em) {
  .hero__title {
    text-align: left;
  }
}
.hero__subtitle {
  font-style: italic;
  font-size: 1.625rem;
  font-weight: 300;
  max-width: 21.875rem;
  line-height: 1.15;
}
@media (min-width: 64rem) {
  .hero__subtitle {
    font-size: 1.875rem;
    text-align: center;
  }
}
@media (min-width: 64rem) {
  .hero__subtitle {
    text-align: left;
  }
}
.hero__text {
  font-size: 1.75rem;
  max-width: 498px;
}
.hero__text p {
  line-height: 1.28571429; /* 36/28 */
}
.hero__text span {
  font-weight: 700;
}
.hero__try {
  width: fit-content;
  padding: 20px 35px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border-radius: 14px;
}
.hero__try:hover {
  text-decoration: underline;
}
.hero__slider {
  display: flex;
  justify-content: space-between;
  gap: 147px;
}
.hero__slider .swiper-slide {
  max-width: 100%;
  width: unset;
}
.hero__slider .swiper-wrapper {
  margin-inline-start: 6rem;
}
.hero__logos {
  display: flex;
  justify-content: space-between;
  gap: 147px;
}

.features {
  display: flex;
  column-gap: 1.5625rem;
  row-gap: 1.25rem;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 48em) {
  .features {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.features-card {
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  flex-basis: auto;
  gap: 1.25rem;
  background-color: #B9FF66;
}
@media (max-width: 90em) {
  .features-card * {
    text-align: center;
  }
}
@media (min-width: 48em) {
  .features-card {
    flex-basis: 33%;
  }
}
.features-card .card__image {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 0%);
}

.reason {
  display: flex;
  column-gap: 3rem;
  row-gap: 2rem;
  flex-direction: column;
}
@media (min-width: 64rem) {
  .reason {
    flex-direction: row;
    overflow: hidden;
  }
}
.reason__body {
  flex: 1 1 40%;
}
.reason__body .reason__title {
  margin-block-end: 0.4em;
}
.reason__body .reason__text {
  line-height: 1.2;
}
@media (max-width: calc(64rem - 0.5px)) {
  .reason__body {
    align-self: center;
  }
  .reason__body * {
    text-align: center;
  }
}
.reason__image {
  flex: 1 1 50%;
  position: relative;
}
@media (max-width: calc(64rem - 0.5px)) {
  .reason__image {
    height: 50%;
  }
}
@media (max-width: calc(64rem - 0.5px)) {
  .reason__image {
    transform: rotate(90deg);
  }
}
@media (min-width: 64rem) {
  .reason__image {
    transform: translateX(50%);
  }
}
.reason__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stocks-list__search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-block-end: 2rem;
}
.stocks-list__search .filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.stocks-list__search .filters__button {
  padding: 0.75em;
  border-radius: 0.625rem;
  background-color: black;
  color: hsl(0, 0%, 100%);
  transition: all 0.4s ease 0s;
}
.stocks-list__search .filters__button:hover {
  background-color: hsl(0, 0%, 100%);
  color: black;
  border: 1px solid black;
  box-shadow: 0 2px 2px 0 hsl(0, 0%, 27%);
}
.stocks-list__search .filters .filter {
  display: flex;
  flex-direction: column;
  background-color: #B9FF66;
}
.stocks-list__search .filters .filter > * {
  border: 1px solid black;
  padding: 0.25em;
}
.stocks-list__search .filters .filter select {
  min-width: 5rem;
  background-color: inherit;
}
.stocks-list__search .filters .filter select option.selected {
  background-color: hsl(0, 0%, 0%);
  color: #B9FF66;
}
.stocks-list__search .search-bar {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.stocks-list__search .search-bar__label {
  font-size: 1rem;
  line-height: 1.15;
}
.stocks-list__search input {
  border: 1px solid black;
  border-radius: 0.625rem;
  padding: 1em;
  transition: all 0.4s ease 0s;
}
.stocks-list__search input:hover {
  background-color: #bcb6b6;
  box-shadow: 0 0 3px 3px #bcb6b6;
  color: white;
  border-color: white;
}
.stocks-list__search input:hover::placeholder {
  color: white;
}

.stocks-grid {
  display: grid;
  container-name: stockCard;
  container-type: inline-size;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
@container stockCard (500px < width < 670px) {
  .stocks-grid .card {
    display: grid;
    grid-template-areas: "heading button" "subheading button" "price button" "description heart" "description heart";
  }
  .stocks-grid .card__title {
    text-align: center;
    grid-area: heading;
  }
  .stocks-grid .card__subtitle {
    grid-area: subheading;
    text-align: center;
  }
  .stocks-grid .card__price {
    text-align: center;
    grid-area: price;
  }
  .stocks-grid .card__description {
    grid-area: description;
  }
  .stocks-grid .card__button {
    grid-area: button;
    text-align: center;
  }
  .stocks-grid .card__heart {
    width: 100%;
    height: 50px;
    grid-area: heart;
  }
}

.stock-card {
  align-items: center;
  row-gap: 12px;
  padding: 1em;
}
.stock-card span {
  font-style: italic;
}
.stock-card__title {
  margin-block-end: 0.5em;
  font-style: normal;
}
.stock-card__price-change.positive {
  color: #0BA13B;
}
.stock-card__price-change.negative {
  color: #F51818;
}
.stock-card__heart {
  width: 50px;
}
.stock-card__heart img {
  width: 100%;
  height: 100%;
}

.navigation__link a.active {
  background-color: #B9FF66;
  font-weight: 500;
}

.stock-details--add-page {
  align-self: start;
  gap: 3rem;
}
.stock-details--add-page .h3 {
  text-align: center;
}
.stock-details .fundamentals__link i,
.stock-details .fundamentals__link span {
  font-weight: 500;
}
.stock-details .fundamentals__link i.sell {
  color: red;
}
.stock-details .fundamentals__link i.consider-selling {
  color: rgb(183, 121, 6);
}
.stock-details .fundamentals__link i.hold {
  color: rgb(32, 164, 3);
}
.stock-details .fundamentals__link i.consider-buying {
  color: green;
}
.stock-details .fundamentals__link i.buy {
  color: darkgreen;
}

.compare__title {
  margin-block-end: 0.7em;
}
.compare__body {
  margin-block-end: 3rem;
}
@media (max-width: 48em) {
  .compare__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}
.compare .screen-split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 48em) {
  .compare .screen-split {
    display: flex;
    flex-direction: column;
  }
}
.compare .screen-split .stock-details {
  overflow: auto;
  border: 1px solid hsl(0, 0%, 27%);
  border-radius: 0.625rem;
  padding: 1.25rem;
}
.compare .screen-split .stock-details--add-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.compare .screen-split .stock-details--add-page > *:not(a) {
  flex-basis: 100%;
  flex-grow: 1;
}
.compare .multi-chart h2 {
  margin-block-end: 1em;
}

.dividends {
  overflow: auto;
}
@media (max-width: 26.5625em) {
  .dividends table {
    width: 100%;
  }
  .dividends tbody {
    display: flex;
  }
  .dividends tbody tr {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
.dividends tbody th,
.dividends tbody td {
  border: 1px solid hsl(0, 0%, 0%);
}
.dividends tbody th,
.dividends tbody td {
  text-align: center;
  padding: 0.5em;
}

.charts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stock-details .chart h3 {
  font-size: 2.25rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .stock-details .chart h3 {
    font-size: 2.5rem;
    text-align: left;
  }
}

.compare .chart h3 {
  font-size: 1.125rem;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .compare .chart h3 {
    font-size: 1.25rem;
    text-align: left;
  }
}

.login {
  margin-block-end: 5rem;
}
.login h1 {
  text-align: center;
  margin-block-end: 0.7em;
}
@media (min-width: 32.5em) {
  .login h1 {
    text-align: left;
  }
}
.login .form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1rem;
}
@media (520px < width < 48em) {
  .login .form {
    justify-content: center;
  }
}
@media (max-width: 32.5em) {
  .login .form {
    flex-direction: column;
    align-items: center;
  }
}
.login .form__input {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
}
.login .form__input input {
  border: 1px solid black;
  border-radius: 0.625rem;
  padding: 1em;
  transition: all 0.4s ease 0s;
}
.login .form__input input:hover {
  background-color: #bcb6b6;
  box-shadow: 0 0 3px 3px #bcb6b6;
  color: white;
  border-color: white;
}
.login .form__input input:hover::placeholder {
  color: white;
}

@media (max-width: 26.5625em) {
  .logout {
    text-align: center;
  }
  .logout__buttons {
    justify-content: center;
  }
}
.logout__heading {
  margin-block-end: 2rem;
}
.logout__heading h1 {
  margin-block-end: 1em;
}
.logout__buttons {
  display: flex;
  gap: 1.5rem;
}
.logout__accept {
  color: hsl(0, 0%, 100%);
  background-color: #0BA13B;
}
.logout__reject {
  color: hsl(0, 0%, 100%);
  background-color: #F51818;
}

/*# sourceMappingURL=style.css.map */
